# Environment
.env
.env.*

# Virtual environments
gyaan/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db